<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

	<ldap-server url="${ldap.base.provider.url}/o=gouv,c=fr"
		manager-dn="${ldap.security.principal}" manager-password="${ldap.security.credentials}" />
	<authentication-manager>
		<ldap-authentication-provider
			user-search-base="ou=personnes" user-search-filter="uid={0}" />
	</authentication-manager>
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<http-basic/>
	</http>
</beans:beans>