*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse files #
.metadata
.project
.classpath
.settings/
*/.settings/*
*/.externalToolBuilders/*

# Maven target folder #
target

# IDEA
.idea/
 */.idea/*
*.iml

#JRebel files
rebel.xml
rebel*.xml
