<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd        
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        
    <context:annotation-config />
    <context:component-scan base-package="fr.mcc.ginco" /> 
    
    <!-- Main Datasource -->
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"
          lazy-init="true">
        <property name="jndiName" value="java:comp/env/jdbc/GincoPool" />
    </bean>
     
    <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true"/>
		
		<property name="locations">
			<list>
				<value>classpath:hibernate.properties</value>
				<value>classpath:application.properties</value>
				<value>classpath:git.properties</value>
				<value>file:${ginco-properties}</value>
			</list>
		</property>
	</bean>
	
	
	<!-- Aspect : all operations of save/update and delete should be logged in a specific table -->
	<aop:aspectj-autoproxy/>
	<bean id="logJournalAspect" class="fr.mcc.ginco.journal.GincoLogAspect" />
	

</beans>