<?xml version="1.0" encoding="UTF-8"?>

<!-- We define the context of the application for business layer and reference 
	beans to the DAOs -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="abstractDAO"
		class="org.springframework.orm.hibernate3.support.HibernateDaoSupport"
		abstract="true" p:sessionFactory-ref="gincoSessionFactory" />

	<!-- Definition of the Data Access Objects of Ginco Application -->
	<!-- All Data Access Objects are injected by spring, using GenericHibernateDAO -->
	<!-- Exception for thesaurusDAO, more sophisticated, which have its own implementation  -->
	<bean id="languagesDAO" class="fr.mcc.ginco.dao.hibernate.GenericHibernateDAO"
		scope="singleton">
		<constructor-arg value="fr.mcc.ginco.beans.Languages" />
		<property name="sessionFactory" ref="gincoSessionFactory" />
	</bean>

	<bean id="thesaurusDAO" class="fr.mcc.ginco.dao.hibernate.ThesaurusDAO" parent="abstractDAO" />

	<bean id="thesaurusFormatDAO" class="fr.mcc.ginco.dao.hibernate.GenericHibernateDAO" scope="singleton">
		<constructor-arg value="fr.mcc.ginco.beans.ThesaurusFormat" />
		<property name="sessionFactory" ref="gincoSessionFactory" />
	</bean>

	<bean id="thesaurusOrganizationDAO" class="fr.mcc.ginco.dao.hibernate.GenericHibernateDAO" scope="singleton">
		<constructor-arg value="fr.mcc.ginco.beans.ThesaurusOrganization" />
		<property name="sessionFactory" ref="gincoSessionFactory" />
	</bean>

	<bean id="thesaurusTypeDAO" class="fr.mcc.ginco.dao.hibernate.GenericHibernateDAO" scope="singleton">
		<constructor-arg value="fr.mcc.ginco.beans.ThesaurusType" />
		<property name="sessionFactory" ref="gincoSessionFactory" />
	</bean>

	<bean id="thesaurusVersionHistoryDAO" class="fr.mcc.ginco.dao.hibernate.GenericHibernateDAO" scope="singleton">
		<constructor-arg value="fr.mcc.ginco.beans.ThesaurusVersionHistory" />
		<property name="sessionFactory" ref="gincoSessionFactory" />
	</bean>
</beans>