<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${ginco.log.file}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender>  
    
    <appender name="ROLEFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${ginco.roles.log.file}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender> 
    
    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    
    <logger name="fr.mcc.ginco.services.UserRoleServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="ROLEFILE" />        
    </logger>

    <logger name="fr.mcc.ginco" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />        
    </logger>
    <logger name="net.sf.ehcache" level="ALL" >
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <logger name="fr.mcc.ginco.import" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />        
    </logger>
    
    <logger name="fr.mcc.ginco.security.CSRFGuardLogger" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />        
    </logger>
    
    <logger name="org.apache.cxf.interceptor" level="WARN" additivity="false">
    	<appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" /> 
    </logger>

    <root level="INFO" >
        <appender-ref ref="FILE" />
       <appender-ref ref="CONSOLE" />
        
    </root>
</configuration>