<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd">

    <bean id="jsonProvider"
          class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />

    <jaxrs:server id="uiServices" address="/ui">
        <jaxrs:serviceBeans>
            <bean class="fr.mcc.ginco.rest.services.VocabularyRestService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jsonProvider"  />
        </jaxrs:providers>
    </jaxrs:server>
</beans>