<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
	http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    
	<bean id="thesaurusSOAPService" class="fr.mcc.ginco.soap.SOAPThesaurusServiceImpl" />
	<bean id="thesaurusTermSOAPService" class="fr.mcc.ginco.soap.SOAPThesaurusTermServiceImpl" />
	<bean id="thesaurusConceptSOAPService" class="fr.mcc.ginco.soap.SOAPThesaurusConceptServiceImpl" />
	<bean id="thesaurusArraySOAPService" class="fr.mcc.ginco.soap.SOAPThesaurusArrayServiceImpl" />
	
	<!--pluging slf4j on CXF -->
	<bean id="loggerPrereqs"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" value="#{@systemProperties}" />
		<property name="targetMethod" value="putAll" />
		<property name="arguments">
			<util:properties>
				<prop key="org.apache.cxf.Logger">org.apache.cxf.common.logging.Slf4jLogger</prop>
			</util:properties>
		</property>
	</bean>

	<bean id="abstractLoggingInterceptor" abstract="true">
		<property name="prettyLogging" value="true" />
	</bean>
	<bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"
		parent="abstractLoggingInterceptor" />
	<bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"
		parent="abstractLoggingInterceptor" />

	<cxf:bus>
		<cxf:inInterceptors>
			<ref bean="loggingInInterceptor" />
		</cxf:inInterceptors>
		<cxf:outInterceptors>
			<ref bean="loggingOutInterceptor" />
		</cxf:outInterceptors>
		<cxf:outFaultInterceptors>
			<ref bean="loggingOutInterceptor" />
		</cxf:outFaultInterceptors>
		<cxf:inFaultInterceptors>
			<ref bean="loggingInInterceptor" />
		</cxf:inFaultInterceptors>
	</cxf:bus>
	
	<jaxws:endpoint id="ThesaurusService" implementor="#thesaurusSOAPService"
		address="/thesaurus" depends-on="loggerPrereqs">
	</jaxws:endpoint>
	
	<jaxws:endpoint id="ThesaurusTermService" implementor="#thesaurusTermSOAPService"
		address="/thesaurusTerm" depends-on="loggerPrereqs">
	</jaxws:endpoint>
	
	<jaxws:endpoint id="ThesaurusConceptService" implementor="#thesaurusConceptSOAPService"
		address="/thesaurusConcept" depends-on="loggerPrereqs">
	</jaxws:endpoint>
	
	<jaxws:endpoint id="ThesaurusArrayService" implementor="#thesaurusArraySOAPService"
		address="/thesaurusArray" depends-on="loggerPrereqs">
	</jaxws:endpoint>

</beans>