.keymenuitem-cmdTxt
{
    position:absolute;
    right:3px;
    top: 6px;
}

.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    padding: 90px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('../images/ginco-logo.png') !important;
    margin-top: -100px;
    margin-bottom: 10px;
}

 .x-webkit .x-tab-focus button,.x-tab-focus button  { color: #3366ff;
 outline:black dotted 1px !important; }

.x-grid-view-focus:focus { 
	color: #15498b;
}

a.x-tab-close-btn:focus  {
 outline:black dotted 1px !important; }

.x-form-search-trigger:focus  {
 outline:black dotted 1px !important; }

.x-tool:focus  {
 outline:black dotted 1px !important; }

*:focus {
	 outline:black dotted 1px !important;
}

 
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}

.sandbox {
    background-image: url(../images/basket.png) !important;
}

.display-concept-panel {
    background-image: url(../images/display-concept-panel.png) !important;
}

.icon-detach {
    background-image: url(../images/detach.png) !important;
    height:16px;
    width:16px;
}

.icon-save {
    background-image: url(../images/save.png) !important;
}

.icon-delete {
    background-image: url(../images/delete.png) !important;
}

.icon-display {
    background-image: url(../images/magnifier.png) !important;
}

.icon-add {
    background-image: url(../images/add.png) !important;
}

.icon-add-parent {
    background-image: url(../images/add-parent.png) !important;
}
.icon-add-associative-relationship {
    background-image: url(../images/add-parent.png) !important;
}

.icon-remove-parent {
    background-image: url(../images/remove-parent.png) !important;
}
.upload-icon {
     background: url('../images/image_upload.png') no-repeat 0 0 !important;
}

.exports-icon {
    background: url('../images/exports.png') no-repeat 0 0 !important;
}

.logout-icon {
	background-image: url(../images/door_in.png) !important;
}

.close-icon {
	background-image: url(../images/cross.png) !important;
}

.icon-archive {
	background-image: url(../images/package.png) !important;
}

.icon-publish {
	background-image: url(../images/world.png) !important;
}

.mandatory-field {
	color: red !important;
}